<!DOCTYPE html>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascript/support.js"></script>
  <script src="/javascript/application.js"></script>
  <title>Motivational Posters</title>
</head>
<body>
<header>
  <h1>Motivational Posters</h1>
  </header>
<section id="select-image">
  <h2>Step 1. Select an image</h2>
  <p>Enter the keyword to search for images</p>
    <input id="search-term" type="text">
    <button id="go-search">Go!</button>
    <div id="search-results"></div>
    <div id="branding"></div>
</section>
<section id="add-text">
  <h2>Step 2. Add Text</h2>
  <input id="text" type="text" value="Curiosity is one of the greatest secrets of happiness">
</section>
<section id="style-image">
  <h2>Step 3. Style it!</h2>
  <div id="workspace">
    <p id="caption"></p>
  </div>
</section>
</body>
</html>